@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: #fcf8f5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-grotesque: var(--font-bricolage-grotesque);
}

/* file styles.css */
@layer utilities {
  .bg-cream {
    background-color: #f3ece6;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #fcf8f5;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Bricolage Grotesque", sans-serif;
  /* font-family : "inter", sans-serif; */
}
